<main class="my-order-page">
  <div class="album py-5">
    <div class="container">
      <!-- Botón para volver atrás -->
      <div class="d-flex flex-row-reverse" style="margin-bottom: 30px">
        <div class="p-2">
          <button
            type="button"
            class="btn btn-outline-primary"
            [routerLink]="['/admin/manage-orders']"
          >
            <i class="fa fa-arrow-left"></i>
            <span style="margin-left: 3px; margin-bottom: 10px"
              >Back to manage orders</span
            >
          </button>
        </div>
      </div>

      <!-- Título de la página -->
      <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <span class="fs-2">{{ userName }}'s orders</span>
      </div>

      <!-- Mostrar loader si está cargando -->
      <div *ngIf="isLoading">
        <app-loader></app-loader>
      </div>

      <!-- Mostrar mensaje si no hay órdenes cargadas -->
      <div class="text-center" *ngIf="isLoaded && orderArray.length === 0">
        <h3>The customer hasn't ordered anything yet.</h3>
      </div>

      <!-- Iterar sobre las órdenes -->
      <div *ngFor="let order of orderArray">
        <div class="card mx-auto mb-4" style="max-width: 700px">
          <div class="card-header">
            <strong>Order # {{ order.orderNo }}</strong> placed on
            {{ order.addedOn }}
          </div>
          <div class="card-body">
            <div class="col">
              <h5 class="card-title">ID: {{ order.orderId }}</h5>
              <!-- Listar los ítems de la orden -->
              <div *ngFor="let oi of order.orderedItems">
                <p class="card-text">
                  {{ oi.name }}: ${{ oi.price }} × {{ oi.quantity }} = ${{
                    getItemTotalAmount(oi.price, oi.quantity)
                  }}
                </p>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="updateIsReady(order.orderId, !order.isReady)"
                  >
                    Mark as {{ order.isReady ? "Not Ready" : "Ready" }}
                  </button>
                </div>
                <div class="col">
                  <p>
                    Status: &nbsp;&nbsp;
                    <i
                      [ngClass]="
                        order.isReady
                          ? 'fas fa-check-circle text-success'
                          : 'fas fa-times-circle text-danger'
                      "
                    ></i>
                  </p>
                </div>
              </div>

              <hr />
            </div>
            <!-- Mostrar el total de la orden -->
            Total amount paid:
            <strong class="text-success"
              ><i class="fa fa-solid fa-money-bill"></i> ${{
                order.totalAmt
              }}</strong
            >
            (inclusive of 18 %Itbis)
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
