<div class="categories-outer">
  <div class="container" style="text-align: center">
    <div class="col-lg-6 mx-auto" id="text-1">
      <p class="display-6">
        Want to get food delivered to you? <br />
        Place your order now.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <dotlottie-player
        src="https://lottie.host/340c82b0-9dbc-47ea-a76e-7e0e7a67fb96/FOBPL2DTRa.json"
        background="transparent"
        speed="1"
        style="max-width: 300px; max-height: 300px"
        loop
        autoplay
      ></dotlottie-player>
    </div>

    <div class="text-center" style="margin-bottom: 60px; margin-top: 60px">
      <button
        type="button"
        class="btn btn-md btn-outline-dark"
        (click)="onViewCategory()"
      >
        Have a look at the we've for you
      </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
      <div class="col">
        <a>
          <div class="card">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/starter-food.jpg?alt=media&token=c36b997a-b1a4-427a-b99b-4662d71a3340"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Starters</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a>
          <div class="card">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/main-food%20(2).jpg?alt=media&token=af3fd2e3-2a41-4eaf-82f1-6afa6477270f"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mains dish</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a>
          <div class="card">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/dessert-food.jpg?alt=media&token=66072f78-d2e0-4ede-b9ae-caad303104d2"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Desserts</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a>
          <div class="card">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/alcoholic-main.jpg?alt=media&token=72eca2d3-8a68-48c0-94c8-8c1301f54313"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alcoholic beverages</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
