<!-- <div class="border border-2 border-black border-opacity-25 mb-4"></div> -->

<div class="pt-5 my-0 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
  <div class="overflow-hidden">
    <div class="w-100">
      <img
      src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/Black%20and%20White%20Simple%20Clean%20We%20Are%20Open%20Restaurant%20Instagram%20Story%20(1).webp?alt=media&token=b2667345-c681-4186-b7cb-055d61d3342d"
        style="width: 100%; margin-top: 20px; height: 50%; border: none !important;"
        class="border mb-4"
        alt="Example image"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Whether you are planning an intimate dinner for friends, a corporate
      luncheon, or an extravagant soirée, you will find the perfect setting at
      <b>Antojos</b>. In addition to accommodating as many as 400 guests, our
      restaurant feature award-winning off-site catering and a full service
      event production team that will make sure every detail is in place, so you
      don’t have to.
    </p>
  </div>
</div>
<div class="pt-5 my-0 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
  <div class="overflow-hidden">
    <div class="w-100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/restaurant-header2.gif?alt=media&token=8a261edd-7263-45a2-81ef-155c927bbe58"
        style="width: 100%; margin-top: 20px; height: 50%; border: none !important;"
        class="border mb-4"
        alt="Example image"
        loading="lazy"
      />
    </div>
  </div>
</div>

<app-categories></app-categories>

<div style="margin-top: 25px">
  <app-header-image></app-header-image>
</div>

<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      With specialty cocktails, unique starter dishes, and spectacular main
      courses and desserts, <b>Antojos</b> is an amazing eatery. The superb
      talent and exacting precision of our chefs and staffs will make your
      experience here a grandeur one.
    </p>
  </div>
</div>
