<!-- <div class="border border-2 border-black border-opacity-25 mb-4"></div> -->

<div class="pt-5 my-0 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
  <div class="overflow-hidden">
    <div class="w-100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/restaurant-header.png?alt=media&token=7e19bc20-7d58-4e5b-9de4-7cd4c12d0323"
        style="width: 100%; margin-top: 20px; height: 50%"
        class="border mb-4"
        alt="Example image"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Whether you are planning an intimate dinner for friends, a corporate
      luncheon, or an extravagant soirée, you will find the perfect setting at
      <b>Antojos</b>. In addition to accommodating as many as 400 guests, our
      restaurant feature award-winning off-site catering and a full service
      event production team that will make sure every detail is in place, so you
      don’t have to.
    </p>
  </div>
</div>
<div class="pt-5 my-0 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
  <div class="overflow-hidden">
    <div class="w-100">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/restaurant-managment-page.appspot.com/o/resturant-header-2.jpg?alt=media&token=e5882ff3-b743-4aca-996e-098e57c36a7b
        "
        style="width: 100%; margin-top: 20px; height: 50%"
        class="border mb-4"
        alt="Example image"
        loading="lazy"
      />
    </div>
  </div>
</div>

<app-categories></app-categories>

<div style="margin-top: 25px">
  <app-header-image></app-header-image>
</div>

<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      With specialty cocktails, unique starter dishes, and spectacular main
      courses and desserts, <b>Antojos</b> is an amazing eatery. The superb
      talent and exacting precision of our chefs and staffs will make your
      experience here a grandeur one.
    </p>
  </div>
</div>
