<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-6 footer-column">
              <h3>Location</h3>
              <p>Calle Las Mercedes, Esquina Arzobispo Meriño. Plaza Merceriño, Santo Domingo 10210</p>
          </div>

          <div class="col-md-6 footer-column">
              <h3>Contact</h3>
              <p>+18299795654</p>
          </div>
      </div>
      <hr style="margin-top: 60px;">
  </div>
  <div class="text-center" style="margin-top: 60px;">
      <p>
          Made with &nbsp;<i class="icon ion-heart"></i>&nbsp; by <a href="https://github.com/StarlynB" target="_blank">SB WEB</a>
      </p>
      <!-- <p>View code on <a href="https://github.com/thecoducer/restaurant-order-management-system" target="_blank">Github</a> </p> -->
  </div>
</footer>