.footer-column {
    margin-bottom: 20px;
  }
  
  @media (min-width: 481px) and (max-width: 726px) {
    .footer-column {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}
  