<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column">
        <h3>Location</h3>
        <p>
          <i class="fa-solid fa-location-dot"></i>&nbsp; 29 Apart. Av. Majlut
        </p>
      </div>

      <div class="col-md-4 footer-column">
        <hr style="margin-top: 60px" />
        <h3><i class="fa-solid fa-calendar-days"></i>&nbsp;Schedules</h3>
        <h5>Monday - Friday</h5>
        <p>10.00am - 09.00pm</p>
        <h5>Saturday - Sunday</h5>
        <p>10.00am - 11.00pm</p>
        <hr style="margin-top: 60px" />
      </div>

      <div class="col-md-4 footer-column">
        <h3>Contact</h3>
        <p><i class="fa-solid fa-phone"></i>&nbsp; +1-809-963-9647</p>
      </div>
    </div>
    <hr style="margin-top: 60px" />
  </div>
  <div class="text-center" style="margin-top: 60px">
    <p>
      Made with
      <i class="icon ion-heart"></i> by
      <a href="https://github.com/StarlynB" target="_blank">Starlyn Web</a>
    </p>
    <p class="text-black">
      <i class="fa-solid fa-code"></i>
      View code on
      <a
        href="https://github.com/StarlynB/restaurant-app"
        target="_blank"
        class="text-black"
        >Github</a
      >
    </p>
  </div>
</footer>
