<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-column">
        <h3>Location</h3>
        <p>
          <i class="fa-solid fa-location-dot"></i>&nbsp; 29 local , avenue Jacob
          mujluta number 29
        </p>
      </div>

      <div class="col-md-6 footer-column">
        <h3>Contact</h3>
        <p><i class="fa-solid fa-phone"></i>&nbsp; +1-809-963-9647</p>
      </div>
    </div>
    <hr style="margin-top: 60px" />
  </div>
  <div class="text-center" style="margin-top: 60px">
    <p>
      Made with
      <i class="icon ion-heart"></i> by
      <a href="https://github.com/StarlynB" target="_blank">Starlyn Web</a>
    </p>
    <p class="text-black">
      <i class="fa-solid fa-code"></i>
      View code on
      <a href="" target="_blank" class="text-black">Github</a>
    </p>
  </div>
</footer>
